<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.payroll.mapper.OverWorkMapper">

        <select id="getOverWorkByDate" parameterType="string" resultType="com.dream.payroll.entity.OverWork">
            select id,employee_id,type_id,description,status,gmt_create,gmt_modified from over_work where
            DATE_FORMAT(gmt_create,'%Y-%m-%d') like concat(#{datetime},'%')
        </select>

</mapper>
